<aside class="wrapper" id="formulario">
  <div class="bloques">
    <div class="bloque_big bg title">
      <script type="text/javascript" src="https://api.clientify.net/web-marketing/superforms/script/211328.js"></script>
      <p>¡Contáctanos ahora! Y descubre cómo nuestras etiquetas holográficas Platinum y Premium pueden ayudarte a salvaguardar tu marca y aumentar tu rentabilidad.</p>
      <p><i>Su tranquilidad es nuestra prioridad. Cumplimos con la normativa ecuatoriana de protección de datos personales.</i></p>
    </div>
    <div class="bloque_big bg_marca title">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.794248334761!2d-78.49672162432049!3d-0.19902949979900994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59b813e7e6dcf%3A0x38bac4b8f2519777!2sGRUPO%208%20EC!5e0!3m2!1ses-419!2sco!4v1719922678193!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <small>Estamos apoyando con nuestra experiencia y nuestra trayectoria a una nueva empresa que fue abierta en Ecuador por dos personas que nos han acompañado en Colombia a atender el mercado de Industrias con altos índices de <b>FALSIFICACIÓN</b>.</small>
      <small>¿Te preocupa la falsificación de tus productos? En <strong>HOLOGRAPHIC SAS Ecuador</strong>, somos expertos en seguridad de marcas. Con nuestra nueva sede, ofrecemos soluciones personalizadas para proteger tus productos y evitar que caigas en las garras de la falsificación.</small>
    </div>
  </div>
</aside>