.gallery-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: min-content;
  padding: 2rem 0;
  width: min(100%, 992px);
  margin-inline: auto;
  border-radius: 8px;
  overflow: hidden; /* Evita que el contenido se desborde */
}

.gallery-slider span {
  position: absolute;
  display: grid;
  place-items: center;
  background-color: var(--clr2);
  border-radius: 50%;
  padding: 0.5rem;
  z-index: 10;
  cursor: pointer;
}

.gallery-slider span#left {
  left: 10px;
}

.gallery-slider span#right {
  right: 10px;
}

.slide-container {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 2rem 0;
  white-space: normal; /* Permite saltos de línea */
  align-items: flex-start;
}

.slide-container.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.slide-container.dragging img {
  pointer-events: none;
}

.slide-container figure {
  display: flex;
  flex-direction: column;
  flex: 0 0 90%; /* Cada slide ocupa el 90% del ancho del contenedor */
  max-width: 880px; /* Controla el ancho máximo del slide */
  margin: 0 auto; /* Centra cada slide */
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.slide-container figure:first-child {
  margin-left: 0;
}

.slide-container img {
  max-width: 180px;
  height: 100%;
  object-fit: cover;
}
